<!DOCTYPE html>
<html>
	<head>
		#parse("header.vm")
	</head>
	<body>
		
		<div data-role="page" id="decideListPage">
			#set($headerTitle="List Decide")
			#parse("bodyHeader.vm")
			
			<div role="main" class="ui-content">
				<div data-demo-html="true">
					<ul data-role="listview" data-inset="true" id="listDecideUL">
						
					</ul>
				</div>
			</div>
						
			<!-- Left Menu -->
			#parse("leftMenu.vm")
	
			#parse("bodyFooter.vm")
		</div>
		<!-- /page -->
		

	</body>
</html>
				