<div data-role="header" data-position="fixed" data-theme="a">
			<h1>${headerTitle}</h1>
			<a href="#outside" data-icon="bars" data-iconpos="notext">Menu</a>
			<div data-role="navbar">
				<ul>
					<li>
						<a href="/core/choose/selectpage">List Selction</a>
					</li>
					<li>
						<a href="/core/main/dream/input">createDream</a>
					</li>
					<li>
						<a href="/core/dream/list">DreamList</a>
					</li>
				</ul>
			</div>
		</div>